*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.template{
    background-color: darkkhaki;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container {
    width: 1100PX;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container-inner {
    width: 800px;
}

.container header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}
header .headline{
    margin-right: 80px;
}
header .headline h1{
    font-size: 40px;
}
header .headline h5{
    font-size: 16px;
}
header .menu{
    padding-top: 18px;
}
header .menu ul{
    list-style-type: none;
}
header .menu ul li{
   float: left;
}
header .menu ul li a{
    text-decoration: none;
    margin-left: 33px;
    line-height: 70px;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.container .banner{
    display: flex;
    
}
.banner .images {
    margin-right: 80px;
}
.banner .images img{
    width: 300px;
    margin-top: 60px;
    border-radius: 46%;
}

.banner .passage h2{
    font-size: 77px;

}
.banner .passage h4{
    font-size: 33px;
}
.banner .passage .circle{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
    position: relative;
}
.circle .red{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
}
.circle .green{
    width: 120px;
    height: 120px;
    background-color: rgb(60, 85, 22);
    border-radius: 50%;
}
.circle .blue{
    width: 120px;
    height: 120px;
    background-color: blueviolet;
    border-radius: 50%;
}
.passage .circle h3{
    color: aliceblue;
    position: absolute;
    margin-top: 50px;
    padding-left: 27px;
    font-size: 12px;
}